---
import { Image } from "astro:assets";
import heroImage from "assets/cavo.svg";
import { getCollection } from "astro:content";
import { getCollection, getEntry } from 'astro:content';
import { getLocale } from "astro-i18n-aut";


const locale = getLocale(Astro.url);

const blog = await getEntry('about', locale+"/about");
console.log(blog)
---

<!-- Container for demo purpose -->
<div class="container">
  <!-- Section: Design Block -->
  <!--<section class="mb-2">-->
  <!--  <div class="">-->
  <!--    <div class="flex flex-wrap items-center">-->
        <!--<div class="py-6 md:order-1 hidden md:block">-->
        <!--  <Image-->
        <!--    src={heroImage}-->
        <!--    alt="Person using CNC machine"-->
        <!--    widths={[200, 400, 600]}-->
        <!--    sizes="(max-width: 800px) 100vw, 620px"-->
        <!--    loading="eager"-->
        <!--    format="avif"-->
        <!--  />-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->