---
import { Image } from "astro:assets";
import heroImage from "assets/cavo.svg";
import { t } from "i18next";
---

<main class="grid lg:grid-cols-1 place-items-center pb-8 md:pb-24">
  <div style="overflow: hidden; width: 100%;">
    <video id="wing" autoplay muted loop playsinline style="width: 100%;">
      <source src="https://raw.githubusercontent.com/jurajkulich/sabsro/main/src/assets/hero.mp4"
              type="video/mp4">
      Your browser does not support the video tag.
    </video>
</main>
