---
import { languages } from '../i18n/ui';
import { getLocale } from "astro-i18n-aut";
import "/node_modules/flag-icons/css/flag-icons.min.css";

const locale = getLocale(Astro.url);
const path = Astro.url.pathname.split('/');

let currentPage = path[path.length - 1];
if (currentPage == 'en' || currentPage == '') {
  currentPage = ''
} else {
  currentPage = '/' + currentPage
}

const otherLocale = locale === 'en' ? 'sk' : 'en';
const localeFlags = {
  en: 'us',
  sk: 'sk'
}
---

<span class={`fi fi-${localeFlags[otherLocale]}`}></span>
<a href={`/${otherLocale}${currentPage}`}>
  {languages[otherLocale]}
</a>

<!--astro preferences disable devToolbar-->