---
const { align = "center" } = Astro.props;
---

<div class="container pt-10 mx-auto">
  <h1 class="text-2xl lg:text-4xl font-bold lg:tracking-tight">
    <slot name="title">Title</slot>
  </h1>
  <p class="text-lg mt-4 text-slate-600">
    <slot name="desc">Some description goes here</slot>
  </p>
</div>
