---
const { align = 'center', label = 'Section' } = Astro.props
---

<div
  class:list={[
    'container pt-10 mx-auto',
    align === 'center' ? 'text-center' : 'text-left',
  ]}>
  <h1
    class:list={[
      'mt-4 text-3xl font-display font-semibold tracking-tight text-slate-900 lg:text-5xl',
      align === 'center' ? 'mx-auto' : '',
    ]}>
    <slot name="title">Title</slot>
  </h1>
  <p
    class:list={[
      'mt-4 max-w-2xl text-lg text-slate-600',
      align === 'center' ? 'mx-auto' : '',
    ]}>
    <slot name="desc">Some description goes here</slot>
  </p>
</div>
