---
interface Props {
  size?: 'md' | 'lg'
  block?: boolean
  style?: 'outline' | 'primary' | 'inverted'
  class?: string
  [x: string]: any
}

const {
  size = 'md',
  style = 'primary',
  block,
  class: className,
  ...rest
} = Astro.props

const sizes = {
  md: 'px-5 py-2.5',
  lg: 'px-6 py-3',
}

const styles = {
  outline:
    'border-2 border-slate-300 text-slate-700 hover:border-slate-900 hover:text-slate-900',
  primary:
    'bg-slate-900 text-white hover:bg-slate-800 border-2 border-transparent shadow-lg shadow-slate-900/10',
  inverted:
    'bg-white/70 text-slate-900 hover:bg-white border-2 border-white/70',
}
---

<button
  {...rest}
  class:list={[
    'rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200',
    block && 'w-full',
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</button>
